{{- $scratch := newScratch }}

{{- $delim := " | " }}

{{- if not .Date.IsZero -}}
  <span class="post-date">{{ .Date | time.Format (default "January 2, 2006" site.Params.DateFormat) }}</span>
  {{- $scratch.Set "showDelim" true -}}
{{- else -}}
  {{- $scratch.Set "showDelim" false -}}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
  {{- if $scratch.Get "showDelim" -}}
    {{- $delim -}}
  {{- end -}}
  <span class="reading-time">{{ i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) }}</span>
  {{- $scratch.Set "showDelim" true -}}
{{- else -}}
  {{- $scratch.Set "showDelim" false -}}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
  {{- if $scratch.Get "showDelim" -}}
    {{- $delim -}}
  {{- end -}}
  <span class="word-count">{{ i18n "words" .WordCount | default (printf "%d words" .WordCount) }}</span>
  {{- $scratch.Set "showDelim" true -}}
{{- else -}}
  {{- $scratch.Set "showDelim" false -}}
{{- end }}
