.desktop {
  flex-grow: 1;
  background-color: #008080;
  background-image: url('../assets/bliss.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
}
