.desktop {
  flex-grow: 1;
  background-color: var(--color-desktop-bg);
  background-image: url('../assets/bliss.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  gap: 20px;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  cursor: default;
  padding: 5px;
  border: 1px solid transparent;
}

.desktop-icon.selected .icon-label {
  background-color: #0B61FF;
}

.icon-image {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
}

.icon-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.icon-label {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: 'Tahoma', sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  padding: 2px;
}
