.taskbar {
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #333 100%);
  border-top: 1px solid #00509d;
  display: flex;
  align-items: flex-end;
  padding: 0;
  z-index: 1000;
  font-family: 'Tahoma', sans-serif;
  user-select: none;
}

.start-button {
  height: 100%;
  width: auto;
  min-width: 100px;
  background: linear-gradient(to bottom, #3c9e3c 0%, #5cb85c 10%, #3c9e3c 100%);
  border: 1px solid #1e5a1e;
  border-left: none;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px 0 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.4);
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  outline: none;
}

.start-button:hover {
  filter: brightness(1.1);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.4) !important;
}


.start-button img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.start-button span {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  text-transform: capitalize;
}

.task-list {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 0 5px 0 5px;
  gap: 2px;
}

.task-item {
  background: #3c81f3;
  color: white;
  border: 1px solid #225599;
  border-radius: 2px;
  width: 125px;
  height: 25px;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
  box-shadow: inset 0 0 2px rgba(255,255,255,0.3);
}

.task-item:hover {
  background: #5394ff;
}

.task-item.active {
  background: #1e52b7;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

.system-tray {
  background: #0b77e9;
  border-left: 1px solid #092e5d;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 11px;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}

.clock {
  margin-left: 5px;
}
