.taskbar {
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, var(--color-taskbar-bg-1) 0%, var(--color-taskbar-bg-2) 9%, var(--color-taskbar-bg-1) 18%, var(--color-taskbar-bg-1) 92%, var(--color-taskbar-bg-3) 100%);
    border-top: 1px solid var(--color-taskbar-border);
  display: flex;
  align-items: flex-end;
  padding: 0;
  z-index: 1000;
  font-family: 'Tahoma', sans-serif;
  user-select: none;
}

.start-button {
  height: 100%;
  width: auto;
  min-width: 100px;
  background: linear-gradient(to bottom, var(--color-start-btn-bg-1) 0%, var(--color-start-btn-bg-2) 10%, var(--color-start-btn-bg-1) 100%);
    border: 1px solid var(--color-start-btn-border);
  border-left: none;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px 0 5px;
  box-shadow: 1px 1px 2px var(--color-shadow-dark), inset 0 1px 0 var(--color-shadow-light);
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  outline: none;
}

.start-button:hover {
  filter: brightness(1.1);
  box-shadow: 1px 1px 2px var(--color-shadow-dark), inset 0 1px 0 var(--color-shadow-light) !important;
}

.start-button img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.start-button span {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  text-shadow: 1px 1px 2px var(--color-text-shadow);
  text-transform: capitalize;
}

.task-list {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 0 5px 0 5px;
  gap: 2px;
}

.task-item {
  background: var(--color-task-item-bg);
  color: white;
  border: 1px solid var(--color-task-item-border);
  border-radius: 2px;
  width: 125px;
  height: 25px;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
  box-shadow: inset 0 0 2px var(--color-task-item-shadow);
}

.task-item:hover {
  background: var(--color-task-item-hover);
}

.task-item.active {
  background: var(--color-task-item-active);
    box-shadow: inset 0 0 5px var(--color-task-item-active-shadow);
}

.system-tray {
  background: var(--color-system-tray-bg);
    border-left: 1px solid var(--color-system-tray-border);
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 11px;
  box-shadow: inset 2px 2px 2px var(--color-system-tray-shadow);
}

.clock {
  margin-left: 5px;
}
