:root {
  --color-black: #000;
  --color-taskbar-bg-1: #245edb;
  --color-taskbar-bg-2: #3f8cf3;
  --color-taskbar-bg-3: #333;
  --color-taskbar-border: #00509d;
  --color-start-btn-bg-1: #3c9e3c;
  --color-start-btn-bg-2: #5cb85c;
  --color-start-btn-border: #1e5a1e;
  --color-shadow-dark: rgba(0, 0, 0, 0.3);
  --color-shadow-light: rgba(255, 255, 255, 0.4);
  --color-text-shadow: rgba(0, 0, 0, 0.6);
  --color-task-item-bg: #3c81f3;
  --color-task-item-border: #225599;
  --color-task-item-shadow: rgba(255, 255, 255, 0.3);
  --color-task-item-hover: #5394ff;
  --color-task-item-active: #1e52b7;
  --color-task-item-active-shadow: rgba(0, 0, 0, 0.5);
  --color-system-tray-bg: #0b77e9;
  --color-system-tray-border: #092e5d;
  --color-system-tray-shadow: rgba(0, 0, 0, 0.2);
  --color-desktop-bg: #008080;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  font-family: 'Tahoma', sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
