body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Tahoma', sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
